section,
article {
  max-width: 33em;
}
footer {
  max-width: 28em;
}
.archive ul {
  max-width: 33em;
}
code {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}
.header {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}
