/* Litl Screen - Baseline font is 1em == 16px. Don't go over 600px (37.5em) wide. */
body {
	font-family: Helvetica, Arial, sans-serif;
	background: #333;
	color: #fff;
}
a {
	color: #5c9999;
}
a:hover {
	text-decoration: underline;
}
abbr[title] {
	border-bottom: 0.0625em dotted #454c4c;
	cursor: help;
}
a:hover abbr[title] {
	border-bottom: 0;
}
sup {
	display: none;
}
h3 {
	color: #ff6600;
}
h4 {
	color: #000;
}
#header {
	max-width: 36em;
}
#me, #you, #contact {
	max-width: 33em;
	padding: 1.5em;
	background: #fff;
	color: #333;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow: 0 0 0.25em #5c9999;
	-moz-box-shadow: 0 0 0.25em #5c9999;
	box-shadow: 0 0 0.25em #5c9999;
}
#hattip {
	max-width: 33em;
}
#footnotes {
	display: none;
}