!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }/
    %title Frank Mitchell
    %meta{ :name => 'author', :content => 'Frank Mitchell'}/
    %meta{ :name => 'viewport', :content => 'width=device-width'}/
