%h3.class.header<
  Projects
%ul.class.apps
  %li
    <img src="/images/prolix.png" alt="Prolix's icon spells &ldquo;lightheartedness&rdquo;" title="Prolix's icon spells &ldquo;lightheartedness&rdquo;" />
    %a{ href: 'http://prolix-app.com/',
      title: "Download Prolix for your iPhone or play online" }<
      Prolix
    is a word search game for the iPhone and iPod touch which lets you
    %a{ href: 'http://twitter.com/',
      title: 'Twitter' }<
      tweet
    your scores so your friends can play with you.
