!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }/
    %title Frank Mitchell
    %meta{ :name => 'author', :content => 'Frank Mitchell'}/
    %meta{ :name => 'viewport', :content => 'width=device-width'}/
    %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'screen, handheld', :href => '/css/handheld.css' }/
    %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'only screen and (min-width:640px)', :href => '/css/screen.css' }/
    /[if IE]
      %link{ :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :href => '/css/ie.css' }/
    %link{ :rel => 'icon', :type => 'image/png', :href => '/images/favicon.png' }/
