<%= @content %>
<section class="apps">
<h2 class="header">Projects</h2>
<p><img src="/images/spare-me.png" alt="Bowling pins and the pencil from Spare Me on a wood background." title="Bowling pins and the pencil from Spare Me on a wood background."/><a href="/spare-me" title="Download Spare Me for your iPhone or play online">Spare Me</a> is a game about bowling, a fun way to learn math, and a love letter to the world&rsquo;s second best solitaire card game. It won 9<sup>th</sup> place in the mobile category for the <a href="http://js13kgames.com" title="HTML5 and JavaScript games in just 13 KiB">2014 js13kGames</a> competition.</p>
<p><img src="/images/hvrecon.png" alt="The copter from Hard Vacuum: Recon flys over a field of ice." title="The copter from Hard Vacuum: Recon flys over a field of ice."/><a href="/hvrecon" title="Play Hard Vacuum: Recon online">Hard Vacuum: Recon</a> pits your memory skills against the wasteland of a frozen planet in an iPhone game for the <a href="http://js13kgames.com/2013" title="HTML5 and JavaScript games in 13 KiB">2013 js13kGames</a> competition.</p>
<p><img src="/images/prolix.png" alt="Prolix&rsquo;s icon spells &ldquo;lightheartedness&rdquo;" title="Prolix&rsquo;s icon spells &ldquo;lightheartedness&rdquo;"/><a href="http://prolix-app.com/" title="Download Prolix for your iPhone or play online">Prolix</a> is a word search game for the iPhone and iPod touch which lets you <a href="http://twitter.com/" title="Twitter">tweet</a> your scores so your friends can play with you.</p>
</section>
