<%= @content %>
<section class="archive">
<a class="header" title="Read more words" href="/archive">Words</a>
<%= @archive %>
</section>
<section class="apps">
<h2 class="header">Projects</h2>
<p><img src="/images/prolix.png" alt="Prolix&rsquo;s icon spells &ldquo;lightheartedness&rdquo;" title="Prolix&rsquo;s icon spells &ldquo;lightheartedness&rdquo;"/><a href="http://prolix-app.com/" title="Download Prolix for your iPhone or play online">Prolix</a> is a word search game for the iPhone and iPod touch which lets you <a href="http://twitter.com/" title="Twitter">tweet</a> your scores so your friends can play with you.</p>
</section>
