<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
    <meta name="author" content="Frank Mitchell" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" media="screen, handheld" href="/css/handheld.css" />
    <link rel="stylesheet" media="only screen and (min-width:40em)" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300" />
    <link rel="stylesheet" media="only screen and (min-width:40em)" href="/css/screen.css" />
    <!--[if IE]><link rel="stylesheet" media="screen" href="/css/ie.css" /><![endif]-->
    <link rel="alternate" type="application/atom+xml" href="/feed/" title="Frank Mitchell's Atom Feed" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!-- <link rel="stylesheet" href="http://basehold.it/24" /> -->
  </head>
  <body>
    <%= @content %>
    <footer>
    <p>Design <abbr title="and">&amp;</abbr> text by <a title="designer, engineer, wizard" href="/">Frank Mitchell</a>. Color scheme by <a title="kuler: &ldquo;Honor&rdquo; by giubbola" href="http://kuler.adobe.com/#themeID/215747">giubbola</a>. Fonts by <a title="The League of Moveable Type" href="http://theleagueofmoveabletype.com/">various</a> <a title="&ldquo;Source Code Pro&rdquo; by Paul D. Hunt" href="http://blogs.adobe.com/typblography/2012/09/source-code-pro.html">arltists</a>. Built with <a title="Find the source code to these pages on GitHub" href="https://github.com/elimossinary/frankmitchell.org">magic</a> and hosted by <a title="NearlyFreeSpeech.NET Web Hosting" href="http://nearlyfreespeech.net/">nearlyfreespeech.net</a>.</p>
    </footer>
  </body>
</html>
